# Assignment_20

### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
test1 = "This is a test of the emergency text system,"
s = open("test.txt","w")
s.write(test1)

44

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
test1

'This is a test of the emergency text system,'

In [3]:
f= open("test.txt", "r")
test2 = f.read()
test2

''

There Is not any difference between test 1 and test 2, both are same.

### 3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [4]:
import csv
rows = [["title","author","year"],
["The Weirdstone of Brisingamen","Alan Garner",1960],
["Perdido Street Station","China Miéville",2000],
["Thud!","Terry Pratchett",2005],
["The Spellman Files","Lisa Lutz",2007],
["Small Gods","Terry Pratchett",1992]]
with open("book.csv","w",newline= "") as file:
    wrt = csv.writer(file)
    wrt.writerows(rows)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [5]:
import sqlite3 
mydb = sqlite3.connect("book.db")
cursor = mydb.cursor()
cursor.execute("create table book(title varchar(30),author varchar(30), year int)")
mydb.commit()

### 5. Read books.csv and insert its data into the book table.

In [6]:
import pandas as pd
r = pd.read_csv("book.csv", encoding="latin-1")
r.to_sql("book", mydb , if_exists="append",index=False)

5

### 6. Select and print the title column from the book table in alphabetical order.

In [7]:
cursor.execute("select title from book order by title asc")

In [8]:
cursor.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

### 7. From the book table, select and print all columns in the order of publication.

In [9]:
cursor.execute("select title ,author , year   from book order by year")
df = pd.DataFrame(cursor.fetchall() , columns=["title" ,"author" , "year"])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [10]:
import sqlalchemy
engine =sqlalchemy.create_engine("sqlite:///book.db")
rows =engine.execute("select * from book")
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [1]:
!pip install redis

Requirement already satisfied: redis in c:\users\pc\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\pc\anaconda3\lib\site-packages (from redis) (4.0.2)

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import redis
connection = redis.Redis()
connection.delete("test")
connection.hmset("test" , {"count" : 1 , "name": 'Fester Bestertester'})
connection.hgetall("test")

### 10. Increment the count field of test and print it.

In [ ]:
connection.hincrby("test", "count" , 3)